[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
python-docx = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-redis = "*"
sentence-transformers = "*"
python-dotenv = "*"
django-filter = "*"
django = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
openai-whisper = "*"
librosa = "*"
soundfile = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
